{% extends 'base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">About Me</h1>
    <div class="row">
        <div class="col-md-8">
            <h2>백승민</h2>
            <p class="lead">경희사이버대학교 전자정보학과 1학년</p>
            <hr>
            <p>안녕하세요! 저는 경희사이버대학교 전자정보학과 1학년에 재학 중인 백승민입니다.</p>
            <p>전자정보학과에서 컴퓨터 공학과 전자공학을 배우며, 웹 개발과 프로그래밍에 관심이 있습니다.</p>
            <p>앞으로 더 많은 프로젝트와 학습을 통해 성장해 나가고 싶습니다.</p>
        </div>
    </div>
</div>
{% endblock %} 