{% extends 'base.html' %}

{% block title %}Home - My Personal Website{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2 text-center">
        <h1 class="display-4 mb-4">Welcome to My Portfolio</h1>
        <p class="lead">I'm a passionate developer creating amazing web experiences.</p>
        <hr class="my-4">
        <p>Check out my latest projects and get in touch!</p>
        <div class="mt-4">
            <a href="{% url 'projects' %}" class="btn btn-primary btn-lg me-3">View Projects</a>
            <a href="{% url 'about' %}" class="btn btn-secondary btn-lg me-3">About Me</a>
            <a href="{% url 'contact' %}" class="btn btn-outline-primary btn-lg">Contact Me</a>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Web Development</h5>
                <p class="card-text">Creating responsive and user-friendly websites using modern technologies.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Mobile Apps</h5>
                <p class="card-text">Developing cross-platform mobile applications for iOS and Android.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">UI/UX Design</h5>
                <p class="card-text">Designing intuitive and engaging user interfaces with a focus on user experience.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}