{% extends 'base.html' %}
{% block title %}About - My Personal Website{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="display-4 mb-4">About Me</h1>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Professional Background</h5>
                <p class="card-text">
                    <!-- 이곳에 본인의 전문적인 배경이나 경험을 자세히 작성해주세요. -->
                    저는 웹 개발 분야에서 [경력 n년]의 경험을 가지고 있으며, [특정 기술/분야]에 강점을 가지고 있습니다.
                    사용자에게 최적의 경험을 제공하는 웹 애플리케이션을 만드는 것을 목표로 합니다.
                    [참여 프로젝트나 회사 경험 등을 간략하게 요약]...
                </p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Skills</h5>
                <div class="row">
                    <div class="col-md-6">
                        <h6>Front-end</h6>
                        <ul class="list-unstyled">
                            <!-- 이곳에 본인의 프론트엔드 기술 목록을 작성해주세요. -->
                            <li>HTML5 / CSS3</li>
                            <li>JavaScript</li>
                            <li>[사용하는 프레임워크/라이브러리: React, Vue.js 등]</li>
                            <li>[CSS 프레임워크: Bootstrap, Tailwind CSS 등]</li>
                            <li>[기타 프론트엔드 관련 기술]</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h6>Back-end</h6>
                        <ul class="list-unstyled">
                            <!-- 이곳에 본인의 백엔드 기술 목록을 작성해주세요. -->
                            <li>Python / Django</li>
                            <li>[사용하는 언어/프레임워크: Node.js/Express, Java/Spring 등]</li>
                            <li>[데이터베이스: PostgreSQL, MySQL, MongoDB 등]</li>
                            <li>[API 관련 기술: RESTful API 설계/구현 등]</li>
                            <li>[기타 백엔드 관련 기술]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Education</h5>
                <p class="card-text">
                    경희사이버대학교<br>
                    전자정보학과<br>
                    1학년 백승민
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
